<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>t07. Go web! - Compare time</title>
    </head>
    <body>
        <h1>Compare time Now:</h1>
        <div>Normal time: <%= normal.now() %></div>
        <div>Quantum time: <%= quantum.now() %></div>
        <div>
            <a href="/">Back to index</a>
        </div>
    </body>
</html>