19 lines (17 sloc)  706 Bytes
   
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>t07. Go web!</title>
    </head>
    <body>
        <h1>Choose Normal or Quantum time</h1>
        <div><a href="/normal">Normal</a></div>
        <div><a href="/quantium">Quantum</a></div>
        <div><a href="/compare">Compare</a></div>
    </body>
</html>