<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>t07. Go web! - Quantum time</title>
    </head>
    <body>
        <h1>Quantum time Now:</h1>
        <div><%= `In quantum space you were absent for ${time[0]} years, ${time[1]} months, ${time[2]} days.` %></div>
        <div><a href="/">Back to index</a></div>
    </body>
</html>