
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    width: 400px;
    height: 700px;
    border: 1px solid black;
}
th{
    width: 250px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: brown;
}
td{
    width: 250px;
    text-align: center;
    border: 1px solid black;
}
#placeholder{
    background-color: grey;
    border-radius: 15px;
    width: 220px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 950px;
}