#reinbow-block {
    height: 100px;
    width: available;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#horn-block {
    width: 0;
	height: 0;
    margin: -40px 0 0 100px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid gray;
}