form {
    display: grid;
    grid-template-columns: 1fr 50px;
}
input {
    height: 2em;
    color: green;
}
input:hover {
    color: red;
}
#search {
    width: 100%;
    border: 1px solid blue;
    border-radius: 3px;
    padding-left: 10px;
}